@keyframes rotation {
  from {
        transform: rotate(0deg);
  }
    to {
        transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s linear infinite;
}

.transition-opacity {
    transition: 1s linear;
}

.transition-opacity:hover {
    opacity: .5;
}